{% extends "base.html" %}
{% set active_page = "group_vars" %}

{% block content %}

<div class="page-header">
    <h1>Group Variables </h1>
</div>

{% if configFile is defined %}
<div class="well">
    <form class="form-horizontal">
    {% for variable, value in configFile.iteritems() %}
        <div class="form-group">
            <label for="input{{ variable }}" class="col-md-3 control-label">{{ variable }}</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="input{{variable}}" placeholder="{{value}}">
            </div>
        </div>
    {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% else %}
<p>Nothing to see here</p>
{% endif %}


{% endblock content %}
